.circle {
  background-color: var(--secondaryColor);
  display: block;
  color: var(--PrimaryColor);
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow: var(--secondaryColor) 0px 0px 5px 1px;
  transition: all ease 0.2s;
}

.circle:hover {
  box-shadow: none;
  transform: scale(1.2) translateY(-20px);
  box-shadow: var(--secondaryColor) 0px 0px 15px 0px;
}

.circle-clicked {
  box-shadow: none;
  width: 90px;
  height: 90px;
}

a {
  text-decoration: none;
}

svg.logoTranstion {
  transition: all ease 0.2s;
  color: var(--secondaryColor);
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
}


#logo1:hover {

  transform: scale(1.2) translateY(-10px);

}

#logo2:hover {

  transform: scale(1.2) translateY(10px);

}

#logo3:hover {

  transform: scale(1.2) translateY(-10px);

}

@media (max-width: 400px) {
  .circle {
    width: 60px;
    height: 60px;
    font-size: 13px;
  }
}
