---
import './style.css';
const portfolioArray = [
  {
    default: true,
    title: 'About the Project1',
    img_src:"img",
    link:'https://mohammmedsinan.github.io/Re-Build-Website',
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'About the Project2',
    img_src:"img2",
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'About the Project3',
    img_src:"img3",
    link:"https://mohammmedsinan.github.io/Re-Build-Website-ANTD-",
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'About the Project4',
    img_src:"",
    link:"https://mohammmedsinan.github.io/Portfolio-DEPLOYED/#/",
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'About the Project5',
    img_src:"",
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
  {
    title: 'About the Project2312312',
    img_src:"",
    description:
      ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
  },
];
let counter = 0;
---

<div class="Slider-Container">
  <div class="Slider-Helper">
    {
      portfolioArray.map((element) => {
        counter = counter + 1;
        return (
          <div 
            class={`Slider-Card ${element.default ? 'default-slider' : ''} public-one backgroundImg`}
            id={`slider-element-${counter}`}
            style={`background-image: url('/assets/${element.img_src}.jpg')`}
          >
            <section
              style="display: flex; justify-content: center; align-items: center; flex-direction: column;"
              class="slider-sction"
            >
              <h1 class="Slider-Title opacity-0">{element.title}</h1>
              <p class="Slider-Description opacity-0">{element.description}</p>
              <div class="btn-collection opacity-0" >
                <button>Source Code</button>
                <button>Preview</button>
              </div>
            </section>
          </div>
        );
      })
    }
  </div>
</div>

<script>
  let fechaModals = document.querySelectorAll(".public-one");
  fechaModals.forEach(fechaModal => {
      let switcher = "false";
   fechaModal.addEventListener('click', function(event) {

    const btnContainer = document.querySelectorAll('.btn-collection')
    const title = document.querySelectorAll('.Slider-Title')
    const desctiption = document.querySelectorAll('.Slider-Description')
    
    if(switcher === "true") {
        btnContainer.forEach(element => {
            element.classList.add('opacity-0')
        })
        fechaModals.forEach(element => {
            element.classList.add('backgroundImg')
        })   
        title.forEach(element => {
            element.classList.add('opacity-0')
        })
        desctiption.forEach(element => {
            element.classList.add('opacity-0')
        })
        fechaModals.forEach(element => {
          element.classList.remove('backgroundImg-empty')
      })
        switcher = "false";
    }else {
      btnContainer.forEach(element => {
        element.classList.remove('opacity-0')
      }) 
      fechaModals.forEach(element => {
        element.classList.remove('backgroundImg')
      })    
      title.forEach(element => {
        element.classList.remove('opacity-0')
      })
      desctiption.forEach(element => {
        element.classList.remove('opacity-0')
      })
      fechaModals.forEach(element => {
          element.classList.add('backgroundImg-empty')
      })
      switcher = "true";
    }
});
});
</script>

<style>
.opacity-0{
opacity: 0;
transition: ease-out 0.4s all;
pointer-events: none;
}
.backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.backgroundImg-empty{
  background-image: url("./") !important;
}
.public-one {
}
</style>