.Slider-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 15px;
  background-color: var(--secondaryColor);
  border-radius: 20px;
  padding: 16px 0px;
  box-shadow: var(--secondaryColor) 0px 0px 20px 0px;
  position: absolute;
  transition: all ease 0.8s;
  opacity: 0;
  max-width: 600px;
  max-height: 300px;
}

.Slider-Description {
  margin: 20px 0px;
  color: var(--PrimaryColor);
  max-width: 70%;

}

.Slider-Title {
  color: var(--PrimaryColor);
}

.btn-collection {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-collection a {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-collection a:last-child {
  color: var(--secondaryColor);
  background-color: var(--PrimaryColor);
  border: 2px solid var(--secondaryColor);
  transition: all ease 0.3s;
}

.btn-collection a:not(last-child) {
  border: 2px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
  background-color: var(--secondaryColor);
  transition: all ease 0.3s;
}


.default-slider {
  opacity: 1;
  z-index: 9999999999999999;
}

.right {
  transform: translateX(500px);
}

.left {
  transform: translateX(-500px);
}

.popup {
  opacity: 1;
}

/* .Slider-Helper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
} */
.Slider-Helper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .Slider-Helper {
    align-items: center;
  }

}

@media (max-width: 670px) {
  .Slider-Card {
    max-height: 240px;
  }

  .Slider-Description {
    font-size: 10px;
    margin: 5px 0px;
    max-width: 330px;
  }

  .btn-collection a {
    padding: 6px 15px;
    font-size: 10px;
    margin-top: 4px;
  }

  .portfolio-container {
    min-height: 200px !important;
  }
}

@media (max-width: 400px) {
  .Slider-Description {
    font-size: 10px;
    padding: 0px 10px;
  }

  .Slider-Card {
    max-height: 180px;
  }

}
