---
import './style.css'
import {Icon} from 'astro-icon'
---

<div id="skills-container">
    <div class="subCh hide" id="dialog-box"></div>
    <div id="skills-container-helper">
    <div class="small-card" id="HTML 5">
    <Icon name="cib:html5" class="skills-icons" />
    </div>
    <div class="small-card" id="CSS">
    <Icon name="akar-icons:css-fill" class="skills-icons" />
    </div>
    <div class="small-card" id="Sass">
        <Icon name="simple-icons:sass" class="skills-icons" />
    </div>
    <div class="small-card" id="Less">
        <Icon name="simple-icons:less" class="skills-icons" />
    </div>
    <div class="small-card" id="Javascript">
    <Icon name="simple-icons:javascript" class="skills-icons" />
    </div>
    <div class="small-card" id="Typescript">
        <Icon name="simple-icons:typescript" class="skills-icons"/>
    </div>
    <div class="small-card" id="Antd">
        <Icon name="simple-icons:antdesign" class="skills-icons" />
    </div>
    <div class="small-card" id="Bootstrap">
        <Icon name="simple-icons:bootstrap" class="skills-icons" />
    </div>
    <div class="small-card" id="React">
        <Icon name="simple-icons:react" id="react" class="skills-icons" />
    </div>
    <div class="small-card" id="Redux">
        <Icon name="simple-icons:redux" class="skills-icons" />
    </div>
    <div class="small-card" id="Webpack">
        <Icon name="simple-icons:webpack" class="skills-icons"/>
    </div>
    <div class="small-card" id="Astro">
        <Icon name="simple-icons:astro" class="skills-icons" />
    </div> 
    <div class="small-card" id="Api Calling">
    <Icon name="carbon:api-1" class="skills-icons" />
    </div>
    <div class="small-card" id="Node Js">
        <Icon name="teenyicons:nodejs-outline" class="skills-icons" />
    </div>
    <div class="small-card" id="Express">
        <Icon name="simple-icons:express" class="skills-icons" />
    </div>
    <div class="small-card" id="MongoDB">
        <Icon name="simple-icons:mongodb" class="skills-icons" />
    </div>   
    <div class="small-card" id="GraphQL">
        <Icon name="simple-icons:graphql" class="skills-icons" />
    </div>
    <div class="small-card" id="Babel">
        <Icon name="simple-icons:babel" class="skills-icons" />
    </div>
    <div class="small-card" id="Vite">
        <Icon name="simple-icons:vite" class="skills-icons" />
    </div>
    <div class="small-card" id="Next Js">
        <Icon name="simple-icons:nextdotjs" class="skills-icons" />
    </div>
</div>
</div>
<script>
    const AllCards = document.querySelectorAll('.small-card')
    const createElement = document.createElement('p')
    createElement.classList.add('dialog-text')
    let counter = 0;
    AllCards.forEach(element => {
        element.addEventListener('mouseover' , e => {
        const LeftAxis = e.currentTarget?.offsetLeft;
        const TopAxis = e.currentTarget?.offsetTop;
        const technolgieName = e.currentTarget?.id;
        const dialogBox = document.getElementById('dialog-box');
        const textnode = document.createTextNode(`${technolgieName}`);
        const mobileSreen = 576;
        if(counter === 0){
            createElement.appendChild(textnode)
            dialogBox?.appendChild(createElement)
        }
        counter = 1
        dialogBox?.classList.add('appear')
        if(window.innerWidth <= mobileSreen) {
            dialogBox.style.top = `${TopAxis -90}px`;
            dialogBox.style.left = `${LeftAxis - 20}px`;
        }else {
            dialogBox.style.top = `${TopAxis -90}px`;
            dialogBox.style.left = `${LeftAxis + 25}px`;
        }
            dialogBox.style.zIndex = "5"
       })
       element.addEventListener('mouseleave' , e => {
        const dialogBox = document.getElementById('dialog-box');
        dialogBox?.classList.remove('appear')
            dialogBox.style.zIndex = "2"
            createElement.textContent = "";
            counter = 0
       })
    })
</script>