---
import './style.css'
---

<div id="skills-container">
<div id="skills-container-helper">
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
    <div class="small-card"></div>
</div>
</div>