---
import './style.css'
import {Icon} from 'astro-icon'
---

<div id="skills-container">
<div id="skills-container-helper">
    <div class="small-card">
    <Icon name="cib:html5" class="skills-icons" />
    </div>
    <div class="small-card">
    <Icon name="akar-icons:css-fill" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:sass" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:less" class="skills-icons" />
    </div>
    <div class="small-card">
    <Icon name="simple-icons:javascript" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:typescript" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:antdesign" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:bootstrap" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:react" id="react" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:redux" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:webpack" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:astro" class="skills-icons" />
    </div> 
    <div class="small-card">
    <Icon name="carbon:api-1" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="teenyicons:nodejs-outline" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:express" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:mongodb" class="skills-icons" />
    </div>   
    <div class="small-card">
        <Icon name="simple-icons:graphql" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:babel" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:vite" class="skills-icons" />
    </div>
    <div class="small-card">
        <Icon name="simple-icons:angular" class="skills-icons" />
    </div>
</div>
</div>