#skills-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#skills-container-helper {
  display: flex;
  background-color: var(--secondaryColor);
  max-width: 900px;
  height: 100%;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 20px;
}

.small-card {
  background-color: var(--PrimaryColor);
  width: 150px;
  height: 100px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.skills-icons {
  color: #fcedda;
  max-width: 70px;
}

/*==============================================================================*/
#react {
  color: #fcedda;
}

@media (max-width: 576px) {
  #skills-container-helper {
    max-width: 400px;
  }

  .small-card {
    width: 70px;
    height: 70px;
  }

  .skills-icons {
    max-width: 40px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
