.btn {
  padding: 13px 40px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#btn1 {
  border: 3px solid var(--secondaryColor);
  color: var(--PrimaryColor);
  background-color: var(--secondaryColor);
  transition: all ease 0.3s;
}


#btn2 {
  color: var(--secondaryColor);
  background-color: var(--PrimaryColor);
  border: 3px solid var(--secondaryColor);
  transition: all ease 0.3s;
}



@media (min-width: 576px) {}

@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {
  .container {
    padding-top: 50px !important;
    padding: 20px;
  }

  #name {
    font-size: 60px;
    text-align: center;
    padding-bottom: 25px;
    justify-content: center;
  }

  #discrip {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
  }

  #discrip2 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .hr {
    display: flex;
    justify-content: center;
  }

  hr {
    border-top: 2px solid var(--secondaryColor);

    width: 200px;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .btn-container {
    padding-top: 50px;
    justify-content: space-evenly;
    display: flex;
  }

  .logos {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  #name {
    font-size: 80px;
    font-weight: bolder;
  }

  #discrip {
    font-size: 18px;
    padding: 30px 0px;
  }

  #container {
    display: flex;
    align-items: center;
    padding: 0px 100px;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  #discrip2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #discrip2 p {
    font-size: 20px;
  }

  .btn-sub-container {
    justify-content: end;
  }

  .btn {
    padding: 9px 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .btn:last-child {
    margin-left: 10px;

  }

  .vr {
    width: 2px;
    height: 300px;
    background-color: var(--secondaryColor);
    margin: 0px 20px;
    border-radius: 100px;
  }
}

@media (min-width: 1200px) {
  #discrip2 {
    max-width: 400px;
  }

  .sub-container {
    max-width: 700px;
  }

  #container {
    justify-content: center;
  }
}

.mobile {
  display: none;
}
