---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/logo.astro'
import './home.css'
// const posts = await Astro.glob('./blog/*.md');
---

<Layout title="Mohammed Sinan">
    <div id="container">
        <div class="sub-container">
            <h1 id="name" style="display: flex;">Mohammed Sinan</h1>
        <div class="hr mobile">
            <hr />
        </div>
            <p id="discrip">
                Hi, I am a front-end developer and I have some experience with back-end development, I have experience in designing and API calling also I did work on big and huge projects and I do have a blog I have been posting in it web development topics also solving problems and explain the new technologies, Mainly I work with React as a front-end framework I have solved so many problems with this framework and 3rd party libraries.
            </p>
                <div class="desktop btn-sub-container" style="display: flex;">
                <a class="btn" id="btn1" href="../public/Mohammed%20Al-mousa.pdf" download="Mohammed Al-mousa resume">Resume</a>
                <a class="btn" id="btn2" href="mailto:mohammedbusiness1099@gmail.com" >Contact</a>
            </div>
        </div>
        <div class="logos mobile" style="display:none">
            <Logo />
        </div>
        <div class="desktop vr"></div>
        <div id="discrip2">
            <p>
                Feel free to contact me on whatever platform you want, you can also check out my projects and my GitHub repositories, All of my projects have been published on GitHub
            </p>
        <div class="desktop">
            <Logo />
        </div>      
        </div>
        <div class="btn-container mobile" style="display: none;">
            <button class="btn" id="btn1">Resume</button>
            <button class="btn" id="btn2">Contact</button>
        </div>
    </div>
</Layout>

<style>

</style>
