---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/logo.astro'
import './home.css'
// const posts = await Astro.glob('./blog/*.md');
---

<Layout title="Mohammed Sinan">
    <div id="container">
        <div class="sub-container">
            <h1 id="name" style="display: flex;">Mohammed Sinan</h1>
        <div class="hr mobile">
            <hr />
        </div>
            <p id="discrip">I’m a passionate full-stack developer with over 5 years of experience building scalable, user-centric web applications. My expertise spans both frontend and backend development, where I’ve designed intuitive interfaces, robust APIs, and efficient databases to deliver seamless digital experiences</p>
                <div class="desktop btn-sub-container" style="display: flex;">
                <a class="btn" id="btn1" href="../public/Mohammed%20Al-mousa.pdf" download="Mohammed Al-mousa resume">Resume</a>
                <a class="btn" id="btn2" href="mailto:mohammedbusiness1099@gmail.com" >Contact</a>
            </div>
        </div>
        <div class="logos mobile" style="display:none">
            <Logo />
        </div>
        <div class="desktop vr"></div>
        <div id="discrip2">
            <p>
                Feel free to contact me on whatever platform you want, you can also check out my projects and my GitHub repositories, All of my projects have been published on GitHub
            </p>
        <div class="desktop">
            <Logo />
        </div>      
        </div>
        <div class="btn-container mobile" style="display: none;">
            <button class="btn" id="btn1">Resume</button>
            <button class="btn" id="btn2">Contact</button>
        </div>
    </div>
</Layout>

<style>

</style>
