---
import Layout from '../layouts/Layout.astro'
import Slider from '../components/portfolio/slider.astro'
import { Icon } from 'astro-icon'
import './home.css'

---


<Layout title="Portfolio">
<div class="portfolio-container">
    <Icon name="ic:sharp-keyboard-arrow-left" id="left" class="arrows" style="display:none" />
    <Slider />
    <Icon name="ic:sharp-keyboard-arrow-right" id="right" class="arrows" style="display:none"/>

</div>
<div id="icons-container">
    <Icon name="ic:sharp-keyboard-arrow-left" id="left1" />
    <Icon name="ic:sharp-keyboard-arrow-right" id="right1"/>
</div>
</Layout>
<script>
document.querySelector('#right')?.addEventListener('click',() => {
    let currentElementOrder =document.querySelector('.default-slider')?.id.split('-')[2];
    let nextElement = document.querySelector(`#slider-element-${Number(currentElementOrder) + 1}`)
    let currentElementid =document.querySelector('.default-slider');
    if(Number(currentElementOrder) != document.getElementsByClassName('Slider-Card').length) {
     //remove the default class from the current element
     currentElementid?.classList.add('right')
     setTimeout(() => {
        currentElementid?.classList.remove('default-slider')
         //add the default class to the next element
        currentElementid?.classList.remove('right')
        nextElement?.classList.add('default-slider')
     },200)
    }
})
document.querySelector('#right1')?.addEventListener('click',() => {
    let currentElementOrder =document.querySelector('.default-slider')?.id.split('-')[2];
    let nextElement = document.querySelector(`#slider-element-${Number(currentElementOrder) + 1}`)
    let currentElementid =document.querySelector('.default-slider');
    if(Number(currentElementOrder) != document.getElementsByClassName('Slider-Card').length) {
     //remove the default class from the current element
     currentElementid?.classList.add('right')
     setTimeout(() => {
        currentElementid?.classList.remove('default-slider')
         //add the default class to the next element
        currentElementid?.classList.remove('right')
        nextElement?.classList.add('default-slider')
     },200)
    }
})
document.querySelector('#left')?.addEventListener('click',() => {
    let currentElementOrder =document.querySelector('.default-slider')?.id.split('-')[2];
    let nextElement = document.querySelector(`#slider-element-${Number(currentElementOrder) - 1}`)
    let currentElementid =document.querySelector('.default-slider');
    if(Number(currentElementOrder) != 1) {
        currentElementid?.classList.add('left')
     setTimeout(() => {
         //remove the default class from the current element
         currentElementid?.classList.remove('default-slider')
         //add the default class to the next element
         currentElementid?.classList.remove('left')
         nextElement?.classList.add('default-slider')
     },200)
    }
})
document.querySelector('#left1')?.addEventListener('click',() => {
    let currentElementOrder =document.querySelector('.default-slider')?.id.split('-')[2];
    let nextElement = document.querySelector(`#slider-element-${Number(currentElementOrder) - 1}`)
    let currentElementid =document.querySelector('.default-slider');
    if(Number(currentElementOrder) != 1) {
        currentElementid?.classList.add('left')
     setTimeout(() => {
         //remove the default class from the current element
         currentElementid?.classList.remove('default-slider')
         //add the default class to the next element
         currentElementid?.classList.remove('left')
         nextElement?.classList.add('default-slider')
     },200)
    }
})
</script>

<style>
@media (min-width: 992px) {
    .arrows{
        display: block !important;
    }
    #icons-container{
        display: none !important;
    }
    .portfolio-container{
        min-height: 300px !important;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}
    .portfolio-container{
        min-height: 430px;
    }
    #icons-container {
        display: flex;
        justify-content: space-around;
    }
    #icons-container svg {
        width: 100px;
        color: var(--secondaryColor);
        cursor: pointer;
    }
    .arrows{
        width: 100px;
        color: var(--secondaryColor);
        cursor: pointer;
    }
</style>