---
import {Icon} from 'astro-icon'
---

<a href="https://github.com/mohammmedsinan?tab=repositories" target="_blank">
    <Icon name="mdi:github"  id="logo1" class="logoTranstion"/>
</a>
<a href="https://github.com/mohammmedsinan?tab=repositories" target="_blank">
    <Icon name="mdi:linkedin"  id="logo2" class="logoTranstion"/>
</a>
<a href="https://github.com/mohammmedsinan?tab=repositories" target="_blank">
    <Icon name="mdi:twitter-circle"  id="logo3" class="logoTranstion"/>
</a>
<!-- <LinkedinFilled style={{ color: secondaryColor, fontSize: "60px", cursor: "pointer", margin: "0px 30px" }} id="logo2" className='logoTransition' /> -->
