---
import "../config/Home.css";
import '@fontsource/pitagon-serif';


// ================== Wigets =====================
import { data } from "@data";
import SEO from '../components/seo.astro'
const { PrimaryColor, secondaryColor,Accent } = data.data.colorPallet;
// ================= Astro Props ============
interface Props {
  lang: string;
  title: string;
}
const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <SEO />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <style is:global define:vars={{ PrimaryColor, secondaryColor ,Accent}}></style>
  </body>
</html>
