---
import Layout from "./BaseLayout.astro";
import { Icon } from 'astro-icon';
const { title, lang } = Astro.props;
---

<Layout title={title} lang={lang}>
    <div class=`bg-primary min-h-[100vh] max-w-[100vw] overflow-x-hidden`>
      <div class="flex justify-between mx-7 mt-7">
        <div class="border-t-[10px] border-l-[10px] h-[200px] w-[250px] border-secondary rounded-2xl hidden sm:block " /> 
        <div class="border-t-[10px] border-r-[10px] h-[200px] w-[250px] border-secondary rounded-2xl hidden sm:block " /> 
      </div>
      <slot />
      <div class="py-5"/> 
    </div>
  </Layout>
  