---
export interface Props {
  title: string;
  lang: string;
}
import Layout from "./BaseLayout.astro";
const { title, lang } = Astro.props;
---

<Layout title={title} lang={lang}>
  <div class=`w-full flex justify-center bg-primary min-h-[100vh] md:pt-5`>

  </div>
</Layout>
