---
import "../config/Home.css";
import '@fontsource/pitagon-serif';


// ================== Wigets =====================
---

<!DOCTYPE html>
<html lang={"en"}>
  <head>
        <title>{"title"}</title>
  </head>
  <body>

          <slot />
      
  </body>
</html>
