---
import { Icon } from 'astro-icon';
import "../config/Home.css";
import { ViewTransitions } from "astro:transitions";
import '@fontsource/pitagon-serif';


// ================== Wigets =====================
import { data } from "@data";
const { PrimaryColor, secondaryColor,Accent } = data.data.colorPallet;
// ================= Astro Props ============
interface Props {
  lang: string;
  title: string;
}
const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
==================================================================== -->
    <title>{title}</title>
  </head>
  <body>

          <slot />
      
  </body>
</html>
