---
export interface Props {
	title: string;
}
const { title } = Astro.props;
import {PrimaryColor,secondaryColor} from '../config/colors'
import Menu from '../components/Menu/Menu.jsx'
import {Icon} from 'astro-icon'
import './Home.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style="overflow-x: hidden; height: 100%; width:100%">
		<div class="container"  >
			<Icon name="border" class="border b1" />
			<slot />
		<div id="menu">
			<Menu />
		</div>
		<Icon name="border" class="border b2" />
		</div>
	</body>
</html>
<style is:global define:vars={{ PrimaryColor, secondaryColor }}>
body {
		background: var(--PrimaryColor);
		min-height: 100vh;
		height: 100%;
	}
	body::-webkit-scrollbar {
display: none;
	}
	h1{
    color: var(--secondaryColor);
	

}p{
    color: var(--secondaryColor);
}

</style>
