* {
  font-family: Inter;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.border {
  width: 12%;
  min-width: 100px;
}

.border path {
  stroke: var(--secondaryColor);

}

.b2 {
  transform: rotate(180deg);
  float: right;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .b1 {
    margin-bottom: 50px;
  }

  .b2 {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .arrow {
    display: block !important;
  }

  .container {
    padding: 40px 20px;
  }

  #menu {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {}
